<main>
  <div class="container">
    <div class="header">
      <span class="header__title">
        <span class="header__title_bold">Clean</span>
        Notes
      </span>
      <span class="spacer"></span>
      <div class="header__actions">
        <a routerLink="/register">
          <button class="header__button">Register</button>
        </a>
        <a routerLink="/login">
          <button class="header__button">Login</button>
        </a>
      </div>
    </div>
  </div>
</main>

<router-outlet />