<main>
  <div class="container">
    <div class="card">
      <div class="card__title">
        Welcome back
      </div>
      <div class="card__divider"></div>
      <div class="card__form">
        <div class="card__form">
          <div class="card__form_input">
            <input type="text" [(ngModel)]="username" placeholder="Username" required />
          </div>
          <div class="card__form_input">
            <input type="password" [(ngModel)]="password" placeholder="Password" required />
          </div>
          <button class="card__form_button" (click)="login()">Login</button>
          <div class="card__form_error" *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink="/register" class="card-footer__link">Don't have an account?</a>
    </div>
  </div>
</main>
