<main>
  <div class="container">
    <div class="card">
      <div class="card__title">
        Welcome back
      </div>
      <div class="card__divider"></div>
      <div class="card__form">
        <div class="card__form_input username_input">
          <input type="text" placeholder="Username" />
        </div>
        <div class="card__form_input password_input">
          <input type="password" placeholder="Password" />
        </div>
        <button class="card__form_button">Login</button>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink="/register" class="card-footer__link">Don't have an account?</a>
    </div>
  </div>
</main>