.login {
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__card {
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    min-height: 250px;
    padding: 16px;
    border-radius: 16px;
    background: #d4d4d4;
    box-shadow: 13px 13px 26px #9b9b9b,
                -13px -13px 26px #ffffff;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 36px;
    font-weight: 200;
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    text-align: center;
    margin: 0;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #000;
    margin: 12px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input-wrapper {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #d4d4d4;
    box-shadow: inset 5px 5px 10px #c3c3c3,
                inset -5px -5px 10px #e5e5e5;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      padding: 0 16px;
      font-size: 14px;
    }
  }

  &__submit-btn {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #b3c1c8;
    box-shadow: 5px 5px 10px #acb2b6,
                -5px -5px 10px #e5e5e5;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: #b3c1c8;
    }

    &:active {
      background: #b3c1c8;
      box-shadow: inset 5px 5px 10px #acb2b6,
                  inset -5px -5px 10px #bec6ca;
    }
  }

  &__error {
    color: #df1947;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  &__footer {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 16px;
    border-radius: 16px;
    background: #d4d4d4;
    box-shadow: inset 5px 5px 10px #b4b4b4,
                inset -5px -5px 10px #f4f4f4;
  }

  &__footer-link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
  }
}