<main class="login">
  <div class="login__container">
    <div class="login__card">
      <h1 class="login__title">Welcome back</h1>
      <div class="login__divider"></div>
      <form class="login__form">
        <div class="login__input-wrapper">
          <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
        </div>
        <div class="login__input-wrapper">
          <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        </div>
        <button class="login__submit-btn" (click)="login()">Login</button>
        <div class="login__error" *ngIf="errorMessage">{{ errorMessage }}</div>
      </form>
    </div>
    <div class="login__footer">
      <a routerLink="/register" class="login__footer-link">Don't have an account?</a>
    </div>
  </div>
</main>
