<main>
  <div class="container">
    <div class="header">
      <span class="header__title">
        <span class="header__title_bold">Clean</span>
        Notes
      </span>
      <span class="spacer"></span>
      <div class="menu__wrapper">
        <button class="header__button" (click)="isMenuOpen = !isMenuOpen">Menu</button>
        <div class="menu__content" [ngClass]="{'menu__content_open': isMenuOpen}">
          <button class="menu__content_button">Your Profile</button>
          <button class="menu__content_button">Archive</button>
          <button class="menu__content_button">Trash</button>
          <button class="menu__content_button">Settings</button>
          <button class="menu__content_button">Logout</button>
        </div>
      </div>
    </div>
  </div>
</main>