<main>
  <div class="container">
    <div class="toolbar">
      <button class="toolbar__button" (click)="updateNote()" [disabled]="isLoading">
        <span class="toolbar__button_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
            <polyline points="17 21 17 13 7 13 7 21"/>
            <polyline points="7 3 7 8 15 8"/>
          </svg>
        </span>
      </button>
      <button class="toolbar__button" (click)="exit()">
        <span class="toolbar__button_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
            <polyline points="9 22 9 12 15 12 15 22"/>
          </svg>
        </span>
      </button>
      <div class="toolbar__spacer"></div>
      <button class="toolbar__button" (click)="openStats()">
        <span class="toolbar__button_icon">
          <svg svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"/>
            <line x1="12" y1="16" x2="12" y2="12"/>
            <line x1="12" y1="8" x2="12.01" y2="8"/>
          </svg>
        </span>
      </button>
    </div>
    <div class="note">
      <input type="text" placeholder="Title" class="note__title" [(ngModel)]="title" />
      <div class="note__divider"></div>
      <div class="note__content">
        <textarea #contentTextarea [(ngModel)]="content" (input)="onContentInput()"></textarea>
      </div>
    </div>
    <div [ngClass]="{'note__loading': true, 'note__loading_hidden': !isLoading, 'note__loading_success': isLoadingSuccess}">
      <div class="note__loading_text">
        {{ isLoadingSuccess ? 'Saved!' : 'Saving...' }}
      </div>
    </div>
    <div class="note-stats-wrapper" *ngIf="showStats">
      <div class="note-stats">
        <div class="note-stats__title">Stats of your note:</div>
        <div class="note-stats__divider"></div>
        <div class="note-stats-list">
          <div class="note-stats-list__item">
            <span class="note-stats-list__item_label">Characters: </span>
            <span class="note-stats-list__item_value">{{ content.length }}</span>
          </div>
          <div class="note-stats-list__item">
            <span class="note-stats-list__item_label">Words: </span>
            <span class="note-stats-list__item_value">{{ content.split(' ').length }}</span>
          </div>
          <div class="note-stats-list__item">
            <span class="note-stats-list__item_label">Sentences: </span>
            <span class="note-stats-list__item_value">{{ content.split('.').length }}</span>
          </div>
          <div class="note-stats-list__item">
            <span class="note-stats-list__item_label">Paragraphs: </span>
            <span class="note-stats-list__item_value">{{ countParagraphs() }}</span>
          </div>
          <div class="note-stats-list__item">
            <span class="note-stats-list__item_label">Reading time: </span>
            <span class="note-stats-list__item_value">{{ Math.ceil(content.split(' ').length / 250) }} minute{{ Math.ceil(content.split(' ').length / 250) > 1 ? 's' : '' }}</span>
          </div>
        </div>
        <div class="note-stats__divider"></div>
        <button class="note-stats__button" (click)="closeStats()">
          <span class="note-stats__button_icon">
            close
          </span>
        </button>
      </div>
    </div>
  </div>
</main>