<main>
  <div class="container">
    <div class="card">
      <div class="card__title">Register</div>
      <div class="card__subtitle">Create account in the most useless notes in the world!</div>
      <div class="card__divider"></div>
      <div class="card__form">
        <form (ngSubmit)="onRegister(username.value, email.value, password.value)" class="card__form">
          <div class="card__form_input">
            <input type="text" #username placeholder="Username" required />
          </div>
          <div class="card__form_input">
            <input type="email" #email placeholder="Email" required />
          </div>
          <div class="card__form_input">
            <input type="password" #password placeholder="Password" required />
          </div>
          <button class="card__form_button">Register</button>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink="/login" class="card-footer__link">Already have an account?</a>
    </div>
  </div>
</main>
