<main>
  <div class="container">
    <div class="card">
      <div class="card__title">Register</div>
      <div class="card__subtitle">Create account in the most useless notes in the world!</div>
      <div class="card__divider"></div>
      <div class="card__form">
        <div class="card__form_input">
          <input type="text" placeholder="Username" />
        </div>
        <div class="card__form_input">
          <input type="email" placeholder="Email" />
        </div>
        <div class="card__form_input">
          <input type="password" placeholder="Password" />
        </div>
        <div class="card__form_input">
          <input type="password" placeholder="Confirm password" />
        </div>
        <button class="card__form_button">Register</button>
      </div>

    </div>
    <div class="card-footer">
      <a routerLink="/login" class="card-footer__link">Already have an account?</a>
    </div>
  </div>
</main>